NODE_ENV=docker
PORT=3000
MONGODB_URI=mongodb://mongo:27017/<%= props.name %>-develop
MONGODB_TEST=mongodb://mongo:27017/<%= props.name %>-test
REDIS_URI=redis://redis:6379/0

APP_NAME=<%= props.name %>-backend
APP_VERSION=1.0.0
APP_SECRET=c5edaca18a904985ae74d24d0f23b506bfaa1548268a4ccfb9
APP_CLIENT=http://localhost:3000/
APP_SHOW_ALL_ERROR_MESSAGES=false
APP_SET_SHOTS_IN_SECONDS=10
